{{#partial "content"}}

    <div class = "row">
        <div class="col-sm-6">
            <h1> Endangered Animals</h1>
            <strong>Location:</strong> {{location }}
            </br><strong>Health:</strong> {{health}}
            </br><strong>Age:</strong> {{age_type}}
            </br><strong>Reported by:</strong> {{ranger_name}}
            </br><strong>ID:</strong> {{id}}
        </div>
        </div>
    </div>

{{/partial}}
{{>nav.hbs}}